.post {
    max-width: 700px;
    border: 1px solid grey;
    padding: 3%;
    background-color: white;
}
.img-post {
    object-fit: cover;
    height: 100%;
    width: 100%;
}
.div-img-post {
    display: -webkit-inline-flex;
    display: inline-flex;
    justify-content: space-around;
    position: relative;
    width: 100%;
    margin: 1% 0;
}
.h-500 {
    max-height: 550px;
}
.w-700 {
    max-width: 700px;
}