body {
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
  background: url(/images/background/tucha.jpg) no-repeat fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;

}

a {
  color: #00B7FF;
}
.list-menu {
  background-color: #ffffffbb
                  !important;
}
.navbar {
  background-color: #ffffffcc;
}
.color-inp {
  background-color: #ffffff99
                    !important;
}
.max-w-600 {
  max-width: 600px;
}
.max-w-800 {
    max-width: 800px;
}
.area-inp {
  height: 200px;
  display: inline-block;
  font: 400 1rem/1.5 Century Gothic, sans-serif;
  word-wrap: break-word;
  min-width: 600px;
  padding: 15px;
  background-color: #f3f3f3;
  border-radius: 2px;
  outline: 0;
}
.circle-div {
  width: 42px;
  height: 42px;
  background-color: #ffffffcc;
  -moz-border-radius: 50px;
  -webkit-border-radius: 50px;
  border-radius: 50px;
  text-align: center;
  display: inline-block;
}
.icons-circle {
  position: relative; top: 50%;
  -webkit-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
}
.circle-div:hover {
    border:1px solid #000
}
.wrapper-div {
    display: inline-block;
}
.img-div {
    height: 150px;
    width: 196px;
    display: inline-block;
    overflow: hidden;
    border:1px solid #000;
    position: relative;
}
.img-div img {
    position: absolute;
    display:block;
    margin: auto;
    left: 0;
    top: 0;
    bottom: 0;
    right: 0;
    width: 100%;
    object-fit: cover;
    transform: scale(1,1);
    transition: 0.3s ease;
}
.img-div:hover img {
    transform: scale(2,2);
}

.close-button {
    position:absolute;
    top:-5px;
    right:-5px;
    display: block;
    float: right;
    width: 30px;
    height: 30px;
}
.cursor-pointer {
    cursor: pointer;
}