mixin menu
    div.bd-sidebar
        ul.list-group.bg-transparent
            li.list-menu.list-group-item.list-group
                b Категории
            each category in common.categories
                li.list-group-item.list-menu
                    a(href="/category/" + category.name_eng)
                        img.mr-1(src="/images/icons/star.svg" alt="" width="32" height="32")
                    a(href="/category/" + category.name_eng) #{category.name}
                    //-.bg-transparent