include ../mixins/modal_form.pug
+modal("Вход в личный кабинет", "loginModal")
    block body
        form#form-login(method="post", action="/login")
            div.form-group
                div.text-danger#err-login
            div.form-group
                label(for="login-inp") Логин
                input.form-control#login-inp(type="text", aria-describedby="loginHelp" name="username" placeholder="Login")
            div.form-group
                label(for="password-inp") Пароль
                input.form-control#password-inp(type="password", name="password" placeholder="Password")
            button.btn.btn-primary(type="submit") Войти