doctype html
html
    head
        title Не найдено
        link(rel='stylesheet', href='https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css', integrity='sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T', crossorigin='anonymous')
    body
        div.container
            p.text-danger.mt-5 Ошибка!
            p К сожалению, страница не найдена :(
            a(href="/") Перейти на главную страницу